<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hOLA DJANGO</title>
</head>
<body>
    <H1>PORQUE DJANGO???</H1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat libero rerum placeat laboriosam temporibus commodi saepe dolorum minus ea, deleniti, minima ipsa deserunt voluptatem facere eaque, ex architecto molestiae doloribus?</p>
    <footer>Que hace el Pibe??? {{ Eliezer }}</footer>
</body>
</html>